# Pokemon

### Introduction:

This time you will create the data.



### Step 1. Import the necessary libraries (pandas, numpy etc)

In [1]:
import pandas as pd
import numpy as np

### Step 2. Run the below line of code to create a dictionary

In [2]:
raw_data = {"name": ['Bulbasaur', 'Charmander','Squirtle','Caterpie'],
            "evolution": ['Ivysaur','Charmeleon','Wartortle','Metapod'],
            "type": ['grass', 'fire', 'water', 'bug'],
            "hp": [45, 39, 44, 45],
            "pokedex": ['yes', 'no','yes','no']                        
            }

### Step 3. Assign it to a variable called pokemon and it should be a pandas Series.

In [6]:
pokemon = pd.Series(raw_data)
pokemon

# p  = pd.DataFrame(raw_data.items())
# p

name         [Bulbasaur, Charmander, Squirtle, Caterpie]
evolution      [Ivysaur, Charmeleon, Wartortle, Metapod]
type                           [grass, fire, water, bug]
hp                                      [45, 39, 44, 45]
pokedex                               [yes, no, yes, no]
dtype: object

### Step 4. If the DataFrame columns are in alphabetical order, change the order of the columns as name, type, hp, evolution, pokedex

In [4]:
pokemon = pokemon[['name','type','hp','evolution','pokedex']]
pokemon

name         [Bulbasaur, Charmander, Squirtle, Caterpie]
type                           [grass, fire, water, bug]
hp                                      [45, 39, 44, 45]
evolution      [Ivysaur, Charmeleon, Wartortle, Metapod]
pokedex                               [yes, no, yes, no]
dtype: object

### Step 5. Add another column called place, and insert places (lakes, parks, hills etc) of your choice.

In [10]:
# # type(pokemon)
# # pokemon = pd.DataFrame(pokemon)
# pokemon['places'] = pd.Series(['lakes','parks','hills','theatres'])
# pokemon.DataFrame(pokemon)

# type(pokemon)
# result = pd.DataFrame(pokemon)
# type(result)
# result
pokemon['places'] = ['lakes','parks','hills','theatres']
pokemon
pokemon = pd.DataFrame(pokemon)
pokemon  = pokemon.T
pokemon

,name,type,hp,evolution,pokedex,places
0,"[Bulbasaur, Charmander, Squirtle, Caterpie]","[grass, fire, water, bug]","[45, 39, 44, 45]","[Ivysaur, Charmeleon, Wartortle, Metapod]","[yes, no, yes, no]","[lakes, parks, hills, theatres]"

### Step 6. Display the data type of each column

In [11]:
pokemon.dtypes

name         object
type         object
hp           object
evolution    object
pokedex      object
places       object
dtype: object