In [1]:
##This is a peer comparison project. Suppose that you are working for Samsung in customer experience management
#team. The idea is to regularly monitor the customer satisfaction levels and peer company moves. The competitor
#company is Apple. The objective is to test two main hypothesis.
# 1. The Samsung Average customer satisfaction score is minimum 75%.
# 2. The overall average satisfaction score of Samsung is same as Apple. There is no significant difference in the satisfaction scores

#The data is collected for 100 Samsung customers and 100 Apple customers. Their satisfaction scores are recorded. The
# sample represent the data and it is unbiased.

import pandas as pd
import numpy as np
import scipy.stats as stats

hypDF = pd.read_csv("Testing_Of_Hypothesis.csv")
hypDF.head()

   Sr No S_Cust_id  Samsung_Score Apple_Cust_id  Apple_Score
0      1   S336499             94       A336525           82
1      2    S73004             99        A73011           83
2      3    S79537             74        A79538           88
3      4   S769168             74       A769222           80
4      5   S609791             83       A609801           74

In [4]:
##It might be possible that both hypothesis are correct, one of them is correct or both of them are wrong. Perform the
#relevant testing to verify these assumptions

##Step 1: Checking if sample truly represents the population or not::
#Yes


##Step 2: Defining Null & Alt Hypothesis::
#Null hypothesis: There is no significant difference in the satisfaction scores.
#Alt hypothesis: There is a significant difference in the satisfaction scores.


##Step 3: Will decide what test to be done, based on the data::
#The independent two-sample t-test is used to test whether population means are significantly different from each other.
#Independent samples are randomly drawn using the means.


##Step 4: Will calculate the test statistic â€“ it will be the Program Output::
samsung = hypDF['Samsung_Score']
apple = hypDF['Apple_Score']

print("The average for Samsung ${}".format(samsung.mean()))
print("The average for Apple ${}".format(apple.mean()))

uneq_var = stats.ttest_ind(a = samsung, b= apple, equal_var=False)  #Different variance
display(uneq_var.statistic)
display(uneq_var.pvalue)

eq_var = stats.ttest_ind(a = samsung, b= apple, equal_var=True)  #Equal variance
display(eq_var.statistic)
display(eq_var.pvalue)


##Step 5: Final conclusion based on p-value::
##Conclusion ::
display(eq_var.pvalue > 0.05)
print('Conclusion: Since the p value fails to reject H0, will conclude that satisfaction scores of samsung == apple. \
    Yes, there is no significant effect here.')

The average for Samsung $84.9
The average for Apple $87.81

-1.9064295935043474

0.05810311766331876

-1.9064295935043472

0.05804261444411807

True

Conclusion: Since the p value fails to reject H0, will conclude that satisfaction scores of samsung == apple.     Yes, there is no significant effect here.